<table>
  <thead>
    <tr>
      <h3>Купленные билеты по следующим направлениям:</h3>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

	<% @tickets.each do |ticket| %>
	  <tr>
		  <td><%= ticket.created_at.strftime("%d-%m-%Y") %> <%= ticket.created_at.strftime('%H:%M') %>, "<%= ticket.route_name %>"</td>
		  <td><%= link_to "Посмотреть", ticket %></td>
		  <p></p>
	  </tr>
	<% end %>

  </tbody>
</table>